body{
    font-family: 'Pacifico', cursive;
    color: rgb(212, 215, 219);
    margin: 30px;
    font-size: 20px;
    background: url(https://cdn.pixabay.com/photo/2020/03/21/02/26/pizza-4952509_1280.jpg) no-repeat center center/cover;
}
h1{
    text-align: center;
}
.info {
    font-size: 18px;
    text-align: justify;
}
input::selection, select::selection{
    background-color: rgb(189, 78, 5);
    color: rgb(165, 80, 18);
}
.pizzaPic img {
    width: 550px;
    height: 350px;
}

#select {
    font-family: 'Pacifico', cursive;
    font-size: 20px;
}
button {
    background-color: rgb(244, 136, 53);
    color: aliceblue;
    font-size: 18px;
    border-radius: 6px;
    width: 120px;
    height: 50px;
    margin-top: 20px;
    font-family: 'Pacifico', cursive;
}
button:hover {
    background-color: rgb(187, 85, 3);
}
p {
    margin: 1rem 1rem 1rem 1rem;
    font-size: 1.8rem;
    height: 100px;
    width: 1200px;
    color: rgb(202, 115, 15);
}
span {
    color: rgb(203, 206, 209);
}
