*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
}
body {
    font-family: 'Titan One', cursive;
    text-align: center;
    text-shadow: 2px 2px 2px rgb(151, 149, 149);
    min-height: 100vh;
    background: url('assets/background.jpg') no-repeat center center/cover;
    padding-top: 3rem;
}
h1 {
    font-size: 2.5rem;
    margin-top: 30px;
    color: rgb(186, 92, 4);
    text-shadow: 2px 3px 1px rgb(12, 12, 12);
}
h3{
    font-size: 2rem;
    margin: 50px;
    color: rgb(186, 92, 4);
    text-shadow: 2px 3px 1px rgb(12, 12, 12);
}
button {
    margin-top: 50px;
    margin-left: 20px;
    padding: 15px 30px;
    font-family: inherit;
    font-size: 2.0rem;
    border-radius: 8px;
    background-color: rgb(183, 89, 17);
    color: rgb(232, 230, 228);
    text-shadow: 1px 3px 1px rgb(19, 18, 18);
    border: none;
    box-shadow: 1px 3px 1px rgb(87, 85, 85);
}
button:hover {
    box-shadow: -5px 6px rgb(87, 85, 85),
    -5px 3px rgb(87, 85, 85);
    transform: translate(5px, -5px);
}
/* Circles */
.circles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.circle {
    cursor: pointer;
    margin: 20px;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background: linear-gradient(#e8c930db, #e87a30db);
    box-shadow: 3px 3px 3px 3px rgb(38, 38, 20);
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle.active {
   background: url('assets/images1.jpeg') no-repeat center center/cover;
}
/* Modal */
.overlay {
    display: none;
    font-size: 2.0rem;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(128, 126, 126, 0.935);
    justify-content: center;
    align-items: center;
    color: #333;
  }
.modal {
    position: relative;
    background: linear-gradient(#f6ecbadb, #e5bf66ef);
    min-height: 50vh;
    width: 50vw;
    border-radius: 10px;
    color: #222120;
    text-shadow: 1px 3px 1px rgb(175, 49, 11);
    padding: 3rem;
}
.modal p {
    margin-top: 3.5rem;
}
  
.show {
    display: flex;
    overflow: hidden;
    overscroll-behavior: none;
}
.close {
    position: absolute;
    top: 0;
    right: 20px;
}
/* Button */
.stop {
    display: none;
}

