body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin: 15px;
}
input, button {
    font-family: inherit;
}
label {
    display: inline-block;
    width: 100px;
    margin: 10px 0;
}
.calculator {
    border: 2px 2px 2px solid rgb(181, 206, 154);
    height: 500px;
    width: 500px;
}
button {
    background-color: rgb(41, 93, 41);
    color: whitesmoke;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    margin-top: 20px;
}