main {
    display: flex;
    height: 100vh;
}
.changeColor {
    font-size: 1.5rem;
    background-color: rgb(218, 223, 223);
    height: 60vh;
    text-align: center;
    flex: 2;
    border-radius: 2px;
    box-shadow: 2px 2px rgb(35, 34, 34);
}
#arrow4{
    margin-right: 28px ;
}
input[type="radio"] {
    display:none;
}
/* input[type="radio"] + label {
    position: relative;
    padding-left: 54px;
    cursor:pointer;
    font-size: 26px;
} */
label {
    height: 20px;
    width: 20px;
}
i{
    height: 20px;
    width: 20px;
    background-color: rgb(162, 16, 16);
}
.displayColor{
    background: linear-gradient(to right, #7c7b7b, #2a2a6f);
    flex: 6;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-left: 80px;
    margin-right: 70px;
    height: 70vh;
    width: 650px;
    box-shadow: 2px 2px rgb(65, 64, 64);
}

/* Color input boxes */

input[type="color"] {
	-webkit-appearance: none;
	border: none;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}
/* Display color box */

/* #colorBox {
    margin-top: 50px;
    /* background-color: antiquewhite; 
    height: 70vh;
    width: 650px;
    box-shadow: 2px 2px rgb(65, 64, 64);
} */

/* Display color's css code */
.bottomArrows {
    margin-bottom: 50px;
}

#result {
    text-align: center;
    background-color: darkgrey;
    width: 90%;
    margin-left: 25px;
    /* height: 20px; */
}