main {
    display: flex;
    height: 100vh;
}
.changeColor {
    background-color: rgb(218, 223, 223);
   /*  width: 200px; */
    height: 70vh;
    text-align: center;
    flex: 2;
    /* border: 2px 2px 2px 2px rgb(243, 190, 190); */
    border-radius: 2px;
    box-shadow: 2px 2px rgb(35, 34, 34);
}
#arrow4{
    margin-right: 28px ;
}
.displayColor{
    /* background: linear-gradient(to right, rgb(124, 123, 123), rgb(42, 42, 111)); */
    flex: 6;
    
    display: flex;
    justify-content: center;
    margin-top: 50px;
    /* background-color: antiquewhite; */
    height: 70vh;
    width: 650px;
    box-shadow: 2px 2px rgb(65, 64, 64);
}

/* Color input boxes */

input[type="color"] {
	-webkit-appearance: none;
	border: none;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}
/* Display color box */

/* #colorBox {
    margin-top: 50px;
    /* background-color: antiquewhite; 
    height: 70vh;
    width: 650px;
    box-shadow: 2px 2px rgb(65, 64, 64);
} */

/* Display color's css code */

#result {
    background-color: darkgrey;
    height: 20px;
}