* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body{
    font-family: 'Mukta', sans-serif;
    
    background-color: rgb(179, 191, 195);
}
.main {
    margin: 30px;
}
.hero-banner {
    background: url('https://storage.googleapis.com/kx-live-ih/images/multiple_insurance_options-min.2e16d0ba.fill-800x450.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    
}
h1 {
    text-align: center;
}
h2 {
    font-size: 1.2rem;
    margin: 2rem 0 0;
}
input, button {
    font-family: 'Mukta', sans-serif;
    margin: 1.2rem 0;
    font-size: 1rem;
    padding: 0.5rem;
}
input{
    font-size: 1rem;
}
button {
    color: white;
    background: rgb(59, 62, 63);
    border: none;
    padding: 1rem 2rem;
    border-radius: 5px;
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 40px;
  }
  button:hover {
    color: white;
    background: rgb(15, 41, 120);
    border: none;
    padding: 1rem 2rem;
    cursor: pointer;
  }
  .span {
    color: rgb(239, 236, 234);
  }
  p {
    background-color: rgb(87, 87, 87);
    color: rgb(227, 231, 247);
    margin: 0 0 1rem;
    padding: 2rem 2rem;
    font-size: 24px;
    
    border: 2px 2px 2px grey;
  }
