* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body{
    font-family: 'Mukta', sans-serif;
    
    background-image: linear-gradient(rgb(252, 248, 248), rgb(144, 163, 179));
    
}
.main {
    margin: 30px;
}
.hero-banner {
    background: url('https://storage.googleapis.com/kx-live-ih/images/multiple_insurance_options-min.2e16d0ba.fill-800x450.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    
}
h1 {
    text-align: center;
}
h2 {
    font-size: 1.5rem;
    margin: 2rem 0 0;
}
input, button {
    font-family: 'Mukta', sans-serif;
    margin: 1.2rem 0;
    font-size: 1rem;
    padding: 0.5rem;
    font-weight: 700;
}
input{
    font-size: 1rem;
}
.inputElements {
    font-size: 24px;
}
button {
    color: white;
    background: rgb(59, 62, 63);
    border: none;
    padding: 1rem 2rem;
    border-radius: 5px;
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 40px;
  }
  button:hover {
    color: white;
    background: rgb(40, 53, 91);
    border: none;
    padding: 1rem 2rem;
    cursor: pointer;
  }
  span {
    font-size: 26px;
    color: rgb(9, 5, 102);
  }
  p {
    background-color: rgb(136, 135, 135);
    color: rgb(227, 231, 247);
    margin: 1rem 1rem 1rem;
    padding: 2rem 2rem;
    font-size: 24px;
  }
